{"swagger":"2.0","info":{"description":"SIP Event Publishing API can be used to integrate existing systems of engagement with GTD.  Our production API does not provide swagger capabilities.  What you see below is provided for reference, but any attempts to use it will result in a 401 unauthorized error.  Please use the integration swagger API for testing.\n\nSee https://sip-pipeline-integration.mybluemix.net/swagger-ui.html#/","version":"0.0.47","title":"SIP Event Publish API"},"host":"sip-pipeline.mybluemix.net","basePath":"/","tags":[{"name":"event-controller-v-1","description":"Entry for event data"}],"paths":{"/sip/events/v1/E001":{"post":{"tags":["Admin Events","All Event Types"],"summary":"Associate Org Id","description":"Associates Shipment Transport with the UUID of an org, as well as with the Container Transports therein.","operationId":"publishE001UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E001_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E007":{"post":{"tags":["Admin Events","All Event Types"],"summary":"Mark an event as ignored","description":"Indicates that an event should be ignored. Ignoring any Admin Event is not supported.","operationId":"publishE007UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E007_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E014":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Packed container sealed","description":"Doors of packed container are closed, seal(s) affixed","operationId":"publishE014UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E014_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E021":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Container stripped","description":"Packed container stripped at import inland location or terminal. Empty container is ready to be picked up at import Inland location.","operationId":"publishE021UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E021_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E025":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Vessel ATD","description":"Actual time of packed container departure from export or transshipment terminal based on vessel departure","operationId":"publishE025UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E025_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E034":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Vessel ETD","description":"Estimated time of packed container departure from export or transshipment terminal based on scheduled vessel departure","operationId":"publishE034UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E034_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E039":{"post":{"tags":["Additional Documentation Events","All Event Types","Documents Events"],"summary":"Container arrival notice submitted","description":"Notice sent by carrier to consignee to inform about the arrival of shipment","operationId":"publishE039UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E039_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E041":{"post":{"tags":["All Event Types","Basic Shipping Documentation Events","Documents Events"],"summary":"Import documentation approved","description":"Import documentation approved by customs","operationId":"publishE041UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E041_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E044":{"post":{"tags":["All Event Types","Basic Shipping Documentation Events","Documents Events"],"summary":"Export documentation approved","description":"Export documentation approved by customs","operationId":"publishE044UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E044_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E051":{"post":{"tags":["All Event Types","Commercial Events","Documents Events"],"summary":"Collect invoice available","description":"Collect invoice raised by carrier prior to releasing packed container for import at terminal","operationId":"publishE051UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E051_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E052":{"post":{"tags":["All Event Types","Basic Shipping Documentation Events","Documents Events"],"summary":"Packing list available","description":"Packing list prepared by shipper itemizing container content","operationId":"publishE052UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E052_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E053":{"post":{"tags":["All Event Types","Documents Events","Generic Documentation Events"],"summary":"Cargo and geography specific certificate submitted","description":"Certificates relating to goods and geography required by trade and/or governmental bodies submitted","operationId":"publishE053UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E053_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E159":{"post":{"tags":["All Event Types","Commercial Events","Documents Events","Shipment Level Only Events"],"summary":"Booking confirmation","description":"The ocean transport booking has been confirmed","operationId":"publishE159UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E159_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E212":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Loaded on truck","description":"The time when the container was ready for pick up/was gated out - From depot (empty)  - At terminal - At inland location","operationId":"publishE212UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E212_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E213":{"post":{"tags":["Admin Events","All Event Types"],"summary":"End container tracking","description":"Tracking of the container ends","operationId":"publishE213UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E213_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E217":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Gate in","description":"The gate in is also the truck's actual arrival time. It includes all actual gate in events, both on export and import side (which can optionally be indicated by parameter) and for full and empty containers truck moves. The common types of such moves include:  - Actual time of arrival (gate in) of empty container for export load at stuffing site. - Actual time of arrival (gate in) of full contaienr at export terminal. - Actual time of arrival (gate in) of packed container at import inland stripping location. - Actual time of arrival (gate in) of empty container at depot (terminal or inland location) after stripping.","operationId":"publishE217UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E217_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E229":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Container stuffed","description":"Container is stuffed at Inland location, changing the container status from empty to full","operationId":"publishE229UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E229_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E240":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Seal(s) removed","description":"The seal(s) are removed from packed container","operationId":"publishE240UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E240_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E246":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Planned gate in","description":"The planned gate in is also the truck's estimated time of arrival. It includes all gate in estimate events, both on export and import side (which can optionally be indicated by parameter) and for full and empty containers truck moves. The common types of such moves include:  - Estimated time of arrival of the empty container for export load at stuffing site. - Estimated time of arrival of packed container at the export terminal. - Estimated arrival time for packed container at import inland stripping location. - Estimated time of arrival of empty container at the depot.","operationId":"publishE246UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E246_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E262":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Packed container selected for inspection","description":"Packed container picked out for further inspection has passed and ready for onward transport","operationId":"publishE262UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E262_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E263":{"post":{"tags":["All Event Types","Compliance Documentation Events","Documents Events"],"summary":"Certificate of origin available","description":"Certificate of origin prepared by shipper stipulating origin of cargo","operationId":"publishE263UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E263_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E265":{"post":{"tags":["All Event Types","Compliance Documentation Events","Documents Events"],"summary":"VGM submitted","description":"The verified gross mass has been submitted","operationId":"publishE265UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E265_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E267":{"post":{"tags":["All Event Types","Compliance Documentation Events","Documents Events"],"summary":"Dangerous goods request submitted","description":"The dangerous goods request submitted by shipper","operationId":"publishE267UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E267_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E268":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Gate out","description":"The gate out is also the truck's actual time of departure. It includes all actual gate out events, both on export and import side (which can optionally be indicated by parameter) and for full and empty containers truck moves. The common types of such moves include:  - Actual time of departure (gate out) of empty container from depot. - Actual time of departure (gate out) of packed container from stuffing site at inland location. - Actual time of departure (gate out) of packed container from import terminal.  - Actual time of departure (gate out) of empty container at stripping location.","operationId":"publishE268UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E268_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E269":{"post":{"tags":["All Event Types","Basic Shipping Documentation Events","Documents Events"],"summary":"Bill of lading available","description":"Bill of lading is available","operationId":"publishE269UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E269_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E270":{"post":{"tags":["All Event Types"],"summary":"Container Device Started","description":"The device on the container has been started","operationId":"publishE270UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E270_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E276":{"post":{"tags":["All Event Types"],"summary":"Temperature set point","description":"Temperature the container aims to maintain has been set","operationId":"publishE276UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E276_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E278":{"post":{"tags":["Admin Events","All Event Types"],"summary":"Start container tracking","description":"Generates a tracking ID which can be used to identify a shipment","operationId":"publishE278UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E278_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/startContainerTrackingResponse"}}}}},"/sip/events/v1/E280":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Vessel ATA","description":"Actual arrival time of the container at the import or transshipment terminal based on vessel arrival ","operationId":"publishE280UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E280_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E292":{"post":{"tags":["All Event Types","Container Release Events","Exception Management Events"],"summary":"Customs release","description":"Customs cleared the packed container","operationId":"publishE292UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E292_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E293":{"post":{"tags":["All Event Types","Commercial Events","Documents Events"],"summary":"Pre-paid invoice available","description":"Pre-paid invoice raised by carrier prior to vessel departure","operationId":"publishE293UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E293_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E295":{"post":{"tags":["All Event Types","Commercial Events","Documents Events"],"summary":"Commercial invoice available","description":"Commercial invoice raised by shipper","operationId":"publishE295UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E295_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E297":{"post":{"tags":["All Event Types","Container Release Events","Exception Management Events"],"summary":"Carrier release","description":"The carrier has received the freight charges, allowing the container to be released for import","operationId":"publishE297UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E297_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E302":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Planned gate out","description":"The planned gate out is also the truck's estimated time of departure. It includes all gate out estimate events, both on export and import side (which can optionally be indicated by parameter) and for full and empty containers truck moves. The common types of such moves include:  - Estimated time of departure of empty container from depot. - Estimated time of depature of packed container from stuffing site. - Estimated time of packed container gate out from import terminal. - Estimated time for picking up empty container from stripping location.","operationId":"publishE302UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E302_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E303":{"post":{"tags":["Additional Documentation Events","All Event Types","Documents Events"],"summary":"Shipping instructions submitted","description":"This is  a document advising details of cargo and shipper's requirements of its physical movement. It provides basic information to draw up the Bill of Lading","operationId":"publishE303UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E303_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E308":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Loaded on rail","description":"No description available.","operationId":"publishE308UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E308_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E310":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Vessel ETA","description":"Estimated time of arrival of packed container at the import or transshipment terminal based on scheduled vessel arrival","operationId":"publishE310UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E310_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E312":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Packed container not selected for inspection","description":"Packed container pre-cleared or not selected for inspection","operationId":"publishE312UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E312_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E314":{"post":{"tags":["Admin Events","All Event Types"],"summary":"Cargo type updated","description":"This is the cargo type given in HS6 if it is not given or needs an update ","operationId":"publishE314UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E314_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E316":{"post":{"tags":["All Event Types","Commercial Events","Documents Events"],"summary":"Booking request submitted","description":"A booking for ocean transport is submitted","operationId":"publishE316UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E316_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E324":{"post":{"tags":["All Event Types"],"summary":"Carrier release","description":"Carrier released the packed container","operationId":"publishE324UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E324_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E325":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Packed container seal(s) inspected","description":"Container seal(s) visually or physically inspected","operationId":"publishE325UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E325_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E326":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Cargo Survey required ","description":"A cargo survey is required for the particular load in the container","operationId":"publishE326UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E326_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E327":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Cargo Survey planned","description":"The planning of the cargo survey is done","operationId":"publishE327UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E327_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E328":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Cargo Survey done","description":"The cargo survey is done","operationId":"publishE328UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E328_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E333":{"post":{"tags":["All Event Types","Container Release Events","Exception Management Events"],"summary":"Do not load ","description":" The container can't be loaded onto a vessel","operationId":"publishE333UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E333_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E335":{"post":{"tags":["Additional Physical Events","All Event Types","Documents Events"],"summary":"Shift-cell","description":"Packed container shifted in one move from one to another slot on vessel","operationId":"publishE335UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E335_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E336":{"post":{"tags":["Additional Physical Events","All Event Types","Documents Events"],"summary":"Shift-pier","description":"Packed container shifted in two moves via pier from one to another slot on vessel","operationId":"publishE336UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E336_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E400":{"post":{"tags":["All Event Types","Container Release Events","Exception Management Events"],"summary":"Container full release","description":"All requirements for clearing the continer to be picked up has been met","operationId":"publishE400UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E400_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E402":{"post":{"tags":["All Event Types","Commercial Events","Documents Events"],"summary":"Shipper updated","description":"Shipper (consignor) details updated","operationId":"publishE402UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E402_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E403":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Rail ETA","description":"Estimated time of arrival for rail at rail terminal at export side","operationId":"publishE403UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E403_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E404":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Barge ATD","description":"Packed container departs on by barge from barge terminal at export side","operationId":"publishE404UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E404_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E405":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Rail ATA","description":"Packed container arrives by train at rail terminal  at export side","operationId":"publishE405UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E405_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E406":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Planned stripping completed","description":"No description available.","operationId":"publishE406UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E406_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E407":{"post":{"tags":["All Event Types","Compliance Documentation Events","Documents Events"],"summary":"Cargo weight submitted","description":"Net weight of cargo excluding container tare but including bracing, dunnage etc.","operationId":"publishE407UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E407_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E408":{"post":{"tags":["All Event Types","Basic Shipping Documentation Events","Documents Events"],"summary":"Export documentation submitted","description":"Export documentation submitted by exporter to customs","operationId":"publishE408UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E408_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E410":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Barge ETA","description":"Estimated time of arrival for barge at barge terminal at export side","operationId":"publishE410UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E410_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E411":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Stripping started","description":"No description available.","operationId":"publishE411UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E411_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E412":{"post":{"tags":["Additional Physical Events","All Event Types","Documents Events"],"summary":"Waypoint","description":"Notification of mid-leg progress, passings, etc","operationId":"publishE412UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E412_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E413":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Packed container selected for scan","description":"Packed container picked out for further scan","operationId":"publishE413UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E413_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E414":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Barge ATA","description":"Packed container arrives by barge at barge terminal at export side","operationId":"publishE414UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E414_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E416":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Stuffing started","description":"No description available.","operationId":"publishE416UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E416_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E417":{"post":{"tags":["Admin Events","All Event Types"],"summary":"Update physical container ID","description":"Sets the physical identification number of the container for the container tracking","operationId":"publishE417UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E417_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E418":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Planned stripping start","description":"No description available.","operationId":"publishE418UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E418_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E419":{"post":{"tags":["All Event Types","Compliance Documentation Events","Documents Events"],"summary":"Dangerous goods request approved","description":"The dangerous goods request has been approved by carrier","operationId":"publishE419UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E419_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E420":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Planned discharge from barge","description":"No description available.","operationId":"publishE420UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E420_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E421":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Rail ATD","description":"Packed container departs on by train from rail terminal at export side","operationId":"publishE421UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E421_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E422":{"post":{"tags":["Admin Events","All Event Types","Shipment Level Only Events"],"summary":"Add a shipment reference","description":"Add a shipment reference number for the shipment","operationId":"publishE422UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E422_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E423":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Planned stuffing start","description":"No description available.","operationId":"publishE423UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E423_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E424":{"post":{"tags":["All Event Types"],"summary":"CO2 set point","description":"CO2 level the container aims to maintain has been set","operationId":"publishE424UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E424_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E425":{"post":{"tags":["All Event Types","Container Release Events","Exception Management Events"],"summary":"Packed container ready to load","description":"All conditions for loading packed container on to vessel are meet ","operationId":"publishE425UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E425_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E427":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Planned loading on truck","description":"The time when the terminal should have the container ready for pick up - From depot (empty) - At terminal  - At inland location","operationId":"publishE427UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E427_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E428":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Planned stuffing completed","description":"No description available.","operationId":"publishE428UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E428_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E429":{"post":{"tags":["All Event Types","Container Release Events","Exception Management Events"],"summary":"Terminal release","description":"Terminal operator specific conditions for release are met","operationId":"publishE429UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E429_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E430":{"post":{"tags":["All Event Types"],"summary":"Temperature updated","description":"Temperature updated","operationId":"publishE430UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E430_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E431":{"post":{"tags":["Advance Declaration Events","All Event Types","Documents Events"],"summary":"Advance declaration approved","description":"Advance declaration approved by customs (24 hour rule)","operationId":"publishE431UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E431_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E432":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Actual discharge from rail","description":"No description available.","operationId":"publishE432UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E432_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E434":{"post":{"tags":["Advance Declaration Events","All Event Types","Documents Events"],"summary":"Advance declaration submitted","description":"Advance declaration submitted by carrier to customs (24 hour rule)","operationId":"publishE434UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E434_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E435":{"post":{"tags":["All Event Types"],"summary":"Humidity set point","description":"Humidity level the container aims to maintain has been set","operationId":"publishE435UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E435_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E436":{"post":{"tags":["All Event Types"],"summary":"O2 set point","description":"O2 level the container aims to maintain has been set","operationId":"publishE436UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E436_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E437":{"post":{"tags":["All Event Types","Commercial Events","Documents Events"],"summary":"Packed container interchanged","description":"Packed container interchanged to new operator ","operationId":"publishE437UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E437_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E439":{"post":{"tags":["All Event Types"],"summary":"Humidity updated","description":"Humidity updated","operationId":"publishE439UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E439_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E440":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Barge ETD","description":"Estimated time of departure of the barge from the barge terminal at export side","operationId":"publishE440UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E440_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E441":{"post":{"tags":["All Event Types","Documents Events","Generic Documentation Events"],"summary":"Cargo and geography specific certificate approved","description":"Certificates relating to goods and geography required by trade and/or governmental bodies approved","operationId":"publishE441UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E441_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E442":{"post":{"tags":["Additional Documentation Events","All Event Types","Documents Events"],"summary":"Equipment interchange receipt","description":"Equipment interchange receipt (EIR) exchanged","operationId":"publishE442UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E442_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E443":{"post":{"tags":["All Event Types","Documents Events","Generic Documentation Events"],"summary":"Other document available","description":"Can be used to notify of the creation of other types of documents","operationId":"publishE443UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E443_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E444":{"post":{"tags":["All Event Types"],"summary":"CO2 updated","description":"CO2 updated","operationId":"publishE444UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E444_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E445":{"post":{"tags":["All Event Types"],"summary":"Empty container interchanged","description":"Empty container triangulation, i.e. going directly from stripping location to new stuffing location (street turn)","operationId":"publishE445UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E445_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E446":{"post":{"tags":["All Event Types","Commercial Events","Documents Events"],"summary":"Consignee updated","description":"Consignee details updated","operationId":"publishE446UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E446_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E447":{"post":{"tags":["All Event Types","Exception Management Events","Inspection Events"],"summary":"Packed container passed inspection","description":"Packed container picked out for further inspection has passed and ready for onward transport","operationId":"publishE447UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E447_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E448":{"post":{"tags":["All Event Types"],"summary":"O2 updated","description":"O2 updated","operationId":"publishE448UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E448_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E449":{"post":{"tags":["All Event Types","Basic Shipping Documentation Events","Documents Events"],"summary":"Import documentation submitted","description":"Import documentation submitted by importer to customs","operationId":"publishE449UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E449_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E450":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Planned discharge from truck","description":"The time when the terminal should be ready for container to be delivered - At terminal  - At inland location - To depot (empty)","operationId":"publishE450UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E450_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E451":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Planned loading on rail","description":"No description available.","operationId":"publishE451UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E451_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E452":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Loaded on vessel","description":"No description available.","operationId":"publishE452UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E452_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E453":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Discharged from vessel","description":"No description available.","operationId":"publishE453UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E453_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E454":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Discharged from barge","description":"No description available.","operationId":"publishE454UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E454_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E455":{"post":{"tags":["All Event Types","Leg Events","Transport Plan Events"],"summary":"Rail ETD","description":"Estimated time of departure of the rail from the rail terminal","operationId":"publishE455UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E455_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E456":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Planned discharge from vessel","description":"No description available.","operationId":"publishE456UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E456_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E457":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Planned loading on vessel","description":"No description available.","operationId":"publishE457UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E457_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E458":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Planned loading on barge","description":"No description available.","operationId":"publishE458UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E458_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E459":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Planned discharge from rail","description":"No description available.","operationId":"publishE459UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E459_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E460":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Loaded on barge","description":"No description available.","operationId":"publishE460UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E460_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E461":{"post":{"tags":["All Event Types","Terminal Events","Transport Plan Events"],"summary":"Discharged from truck","description":"The time when the container was delivered/was gated in - At terminal - At inland location - To depot (empty)","operationId":"publishE461UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E461_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E462":{"post":{"tags":["All Event Types"],"summary":"Other Atmosphere settings updated","operationId":"publishE462UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E462_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E463":{"post":{"tags":["All Event Types","Documents Events","Generic Documentation Events"],"summary":"Geography specific certificate submitted","description":"Certificates relating to geography required by trade and/or governmental bodies submitted","operationId":"publishE463UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E463_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E464":{"post":{"tags":["All Event Types","Compliance Documentation Events","Documents Events"],"summary":"Dangerous Goods declaration requested","operationId":"publishE464UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E464_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E465":{"post":{"tags":["All Event Types","Documents Events","Generic Documentation Events"],"summary":"Geography specific certificate approved","description":"Certificates relating to geography required by trade and/or governmental bodies approved","operationId":"publishE465UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E465_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E466":{"post":{"tags":["All Event Types","Compliance Documentation Events","Documents Events"],"summary":"Dangerous Goods request rejected","description":"Rejection of dangerous goods.","operationId":"publishE466UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E466_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E468":{"post":{"tags":["Admin Events","All Event Types","Shipment Level Only Events"],"summary":"Start shipment tracking","description":"Starts tracking a shipment, which is a collection of containers or packages. Returns a Shipment ID (SID).","operationId":"publishE468UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E468_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/startShipmentResponse"}}}}},"/sip/events/v1/E469":{"post":{"tags":["Admin Events","All Event Types"],"summary":"Add container tracking reference","description":"Used to register SoE's own representation of the container tracking. Multiple container tracking references can be registered against the same container tracking.","operationId":"publishE469UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E469_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E470":{"post":{"tags":["Admin Events","All Event Types","Shipment Level Only Events"],"summary":"Add container to shipment","description":"Associates a container transport to a shipment. A container transport can only belong to a single shipment, so if the container transport is already associated to a shipment, this will modify that association.","operationId":"publishE470UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E470_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}},"/sip/events/v1/E471":{"post":{"tags":["Admin Events","All Event Types","Shipment Level Only Events"],"summary":"End shipment tracking","description":"Ends the tracking of a shipment.","operationId":"publishE471UsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"event","description":"Body contains the details of the event","required":false,"schema":{"$ref":"#/definitions/E471_v1"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/response"}}}}}},"definitions":{"E262_v1":{"type":"object","required":["eventSubmissionTime","originatorId","originatorName"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E044_v1":{"type":"object","required":["documents","eventSubmissionTime","originatorId","originatorName"],"properties":{"documentId":{"type":"string","example":"123456789","description":"Export Document ID"},"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shipment tracking event."},"shipmentRef":{"type":"string","example":"UniqueShipmentRef2468","description":"Reference to an existing shipment.  Value should be very unique and created by a user."},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"documents":{"type":"array","description":"Mandatory Document(s)","items":{"$ref":"#/definitions/PipelineDocument"}},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E451_v1":{"type":"object","required":["eventSubmissionTime","location","originatorId","originatorName","transportationPhase"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shipment tracking event."},"shipmentRef":{"type":"string","example":"UniqueShipmentRef2468","description":"Reference to an existing shipment.  Value should be very unique and created by a user."},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"transportationPhase":{"type":"string","example":"Import","description":"The transportation phase","enum":["Import","Export","Transshipment"]},"location":{"$ref":"#/definitions/Location"},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E422_v1":{"type":"object","required":["eventSubmissionTime","originatorId","originatorName","shipmentId","shipmentRef"],"properties":{"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shipment tracking event."},"shipmentRef":{"type":"string","example":"UniqueShipmentRef2468","description":"Reference to an existing shipment.  Value should be very unique and created by a user."},"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}}}},"E445_v1":{"type":"object","required":["eventSubmissionTime","originatorId","originatorName"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shipment tracking event."},"shipmentRef":{"type":"string","example":"UniqueShipmentRef2468","description":"Reference to an existing shipment.  Value should be very unique and created by a user."},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E407_v1":{"type":"object","required":["eventSubmissionTime","netWeight","originatorId","originatorName"],"properties":{"netWeight":{"type":"string","example":"100 Kg","description":"Net weight (including unit of measurement)"},"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E333_v1":{"type":"object","required":["eventSubmissionTime","originatorId","originatorName"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E465_v1":{"type":"object","required":["certificateType","documents","eventSubmissionTime","originatorId","originatorName"],"properties":{"certificateType":{"type":"string","description":"Certificate Type"},"documentId":{"type":"string","example":"123456789","description":"Geography Specific Certificate Type ID"},"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"documents":{"type":"array","description":"Mandatory Document(s)","items":{"$ref":"#/definitions/PipelineDocument"}},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E310_v1":{"type":"object","required":["eventSubmissionTime","location","originatorId","originatorName","transportationPhase"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shipment tracking event."},"shipmentRef":{"type":"string","example":"UniqueShipmentRef2468","description":"Reference to an existing shipment.  Value should be very unique and created by a user."},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"transportationPhase":{"type":"string","example":"Import","description":"The transportation phase","enum":["Import","Export","Transshipment"]},"location":{"$ref":"#/definitions/Location"},"vehicleId":{"type":"string","example":"233-005","description":"ID of truck, rail, barge, or vessel"},"voyageId":{"type":"string","example":"VOY83461","description":"Voyage number"},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E442_v1":{"type":"object","required":["documents","eventSubmissionTime","originatorId","originatorName"],"properties":{"documentId":{"type":"string","example":"123456789","description":"Equipment Interchange Receipt ID"},"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shipment tracking event."},"shipmentRef":{"type":"string","example":"UniqueShipmentRef2468","description":"Reference to an existing shipment.  Value should be very unique and created by a user."},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"documents":{"type":"array","description":"Mandatory Document(s)","items":{"$ref":"#/definitions/PipelineDocument"}},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E327_v1":{"type":"object","required":["eventSubmissionTime","originatorId","originatorName"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E459_v1":{"type":"object","required":["eventSubmissionTime","location","originatorId","originatorName","transportationPhase"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shipment tracking event."},"shipmentRef":{"type":"string","example":"UniqueShipmentRef2468","description":"Reference to an existing shipment.  Value should be very unique and created by a user."},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"transportationPhase":{"type":"string","example":"Import","description":"The transportation phase","enum":["Import","Export","Transshipment"]},"location":{"$ref":"#/definitions/Location"},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E436_v1":{"type":"object","required":["eventSubmissionTime","originatorId","originatorName"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shipment tracking event."},"shipmentRef":{"type":"string","example":"UniqueShipmentRef2468","description":"Reference to an existing shipment.  Value should be very unique and created by a user."},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E413_v1":{"type":"object","required":["eventSubmissionTime","originatorId","originatorName"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"location":{"description":"The location where the event occurred (or will occur)","$ref":"#/definitions/Location"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E021_v1":{"type":"object","required":["eventSubmissionTime","location","originatorId","originatorName","transportationPhase"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"transportationPhase":{"type":"string","example":"Import","description":"The transportation phase","enum":["Import","Export","Transshipment"]},"location":{"$ref":"#/definitions/Location"},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E454_v1":{"type":"object","required":["eventSubmissionTime","location","originatorId","originatorName","transportationPhase"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"containerTransportRef":{"type":"string","example":"UniqueTrackingRef1234","description":"Reference to an existing container.  Value should be very unique and created by a user."},"physicalId":{"type":"string","example":"10193652010736","description":"Physical ID for the container."},"correlationId":{"type":"string","example":"C132761278346","description":"User-supplied ID for this event"},"documents":{"type":"array","description":"Optional Documents","items":{"$ref":"#/definitions/PipelineDocument"}},"containerTransportId":{"type":"string","example":"TR73624778567","description":"Generated ID for the container. This should be the value returned by the Start Container Tracking event"},"eventOccurrenceTime":{"type":"integer","format":"int64","example":1590694200000,"description":"When the event occurred, as the number of milliseconds since Epoch"},"eventOccurrenceTime8601":{"type":"string","example":"2017-09-15T15:30:00.000-05:00","description":"When the event occurred, in common ISO 8601 format yyyy-MM-dd'T'HH:mm:ss.SSSZ."},"transportationPhase":{"type":"string","example":"Import","description":"The transportation phase","enum":["Import","Export","Transshipment"]},"location":{"$ref":"#/definitions/Location"},"etidOperations":{"type":"array","description":"The list of Event Transaction ID operations","items":{"$ref":"#/definitions/EtidOperation"}}}},"E427_v1":{"type":"object","required":["eventSubmissionTime","location","originatorId","originatorName","transportationPhase"],"properties":{"originatorId":{"type":"string","example":"ORG217461274","description":"The Originator ID"},"originatorName":{"type":"string","example":"ShippingCompany","description":"The Originator Name"},"eventSubmissionTime":{"type":"integer","format":"int64","example":31824789741384,"description":"Time of submission"},"eventSubmissionGpsLocation":{"type":"string","example":"41.108708, -73.718832","description":"GPS coordinates of where the event originated from (mobile device only)"},"shipmentId":{"type":"string","example":"c93b1946-d8f7-11e7-9296-cec278b6b50a","description":"Generated ID for the shipment.  This should be the value returned by the Start shi
[...]
